// colors variables
$orange-beguin: #fc992d;


//html default define
body{
    margin: 0px;
}

//main page css
#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}